* {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
      }
      .main {
        width: 100%;
        height: 100vh;
      }
      .bg-video {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;
        z-index: -1;
      }
      .overPlay {
        color: white;
        position: relative;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-top: 15%;
        font-weight: 900;
        gap: 5px;
      }
      .ZomatoHead {
        font-size: 3rem;
        font-style: italic;
        margin-bottom: 5px;
      }

      .googleApple {
        display: flex;
      }
      .bg-white {
        background-color: white;
        height: 100vh;
        width: 100%;
        overflow: hidden;
        position: relative;
        display: relative;
      }
      .momo {
        width: 200px;
        position: absolute;
        top: 40px;
        right: 110px;
        animation: momo 1s ease-in-out;
      }

      @keyframes momo {
        from {
          top: 0;
          right: 0;
          transform: scale(0);
        }
        to {
          top: 40px;
          right: 110px;
          transform: scale(100%);
        }
      }

      .burger {
        width: 200px;
        position: absolute;
        top: 30vh;
        left: 10%;
        animation: burger 1s ease-in 0s;
      }
      @keyframes burger {
        from {
          top: 0;
          left: 0;
        }
        to {
          top: 30vh;
          left: 10%;
        }
      }
      .tomato1 {
        width: 50px;
        position: absolute;
        right: 80px;
        top: 250px;
        animation-name: tomato1;
        animation-timing-function: ease-in-out;

        animation-timeline: view();
        animation-range: entry 0% cover 40%;
}

@keyframes tomato1 {
  from {
    transform: scale(0);
    opacity: 0;
  }
  to {
    transform: scale(1);
    opacity: 1;
  }
}
      .tomato2 {
        width: 50px;
        position: absolute;
        left: 80px;
        top: 80vh;
      animation: tomato2 .5s ease-in 0s;
      }
      @keyframes tomato2 {
        from {
            left: 0;
            top: 85vh;
        }
        to {
            left: 80px;
            top: 80vh;
        }
      }
      .pizza {
        width: 200px;
        position: absolute;
        right: 80px;
        top: 55vh;
      animation: pizza .5s ease-in 0s;
      }
      @keyframes pizza {
        from {
            right: 0;
            top: 60vh;
        }
        to {
            right: 80px;
            top: 55vh;
        }
      }
      
      .bgWhiteContant {
        position: absolute;
        top: 30vh;
        text-align: center;
        left: 38%;
      }
      .bgWhiteContant p {
        width: 300px;
      }
      .bgWhiteContant h1 {
        color: red;
      }

      .page-3{
        height: 100vh;
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        background-color: pink;
      }
      .page-3 .page-3-heading{
        margin-top: 50px;
        color: red;
        font-size: 1.5rem;
      }
      .page-3 .page-3-para{
        margin-top: 50px;
        color: rgb(83, 82, 82);
        font-size: 1rem;
      }
      .page-3 .page-3-para p{
        word-spacing: 5px;
        font-size: 20px;
      }
      .page-3-contant{
        display: flex;
        gap: 30px;
      }
      .page-3-contant .page-3-card{
        width: 300px;
        height: 300px;
        margin-top: 20px;
        border: 3px solid;
      }
      .page-3-mobile{
        background-image: url(./image/mobile.avif);
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        display: flex;
        justify-content: center;
        align-items: center;
      }
      .page-3-mobile img{
        width: 100%;
        height: 100%;
      }

      