
.c {
    width: 900px;
    margin: 0 auto;
    position: relative;
    display: flex;
    gap: 10px;
    overflow-x: scroll;
    scrollbar-width: none;
    scroll-snap-type: x mandatory;
    scroll-behavior: smooth;
  }
  .c::scroll-button(left){
    content: '<';
  }
  .c::scroll-button(right){
    content: '>';
  }

  .c-item{
    scroll-snap-align: center;
    width: 900px;
    display: flex;
    flex: 1 1 0;
    justify-content: center;
  }
  
  .c-img{
    width: 900px;
    height: 400px;
    border-radius: 30px;
  }